/* #A0AEC0;
    --chakra-colors-gray-500: #718096;
    --chakra-colors-gray-600: #4A5568;
    --chakra-colors-gray-700: #2D3748;
    --chakra-colors-gray-800: #1A202C;
    --chakra-colors-gray-900: #171923; */

dummycss{
   bg-color : #FF9700;
   blue-color : #070136;
   searchbar : #050505;
   text : white ;


}